window { margin: 0px; border: 2px solid #33ccff; background-color: #1e1e2e; border-radius: 12px; font-family: 'JetBrainsMono Nerd Font'; font-size: 14px; }
#input { margin: 5px; padding: 8px; border: none; color: #cdd6f4; background-color: #313244; border-radius: 8px; }
#inner-box { margin: 5px; border: none; background-color: transparent; }
#outer-box { margin: 5px; border: none; background-color: transparent; }
#scroll { margin: 0px; border: none; }
#text { margin: 5px; border: none; color: #cdd6f4; }
#entry { margin: 2px 0px; padding: 5px; border-radius: 8px; }
#entry:selected { background-color: #33ccff; outline: none; }
#entry:selected #text { color: #1e1e2e; font-weight: bold; }
